@font-face {
  font-family: "iconfont"; /* Project id 3494032 */
  src: url('iconfont.woff2?t=1656653182219') format('woff2'),
       url('iconfont.woff?t=1656653182219') format('woff'),
       url('iconfont.ttf?t=1656653182219') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuikuantuihuo:before {
  content: "\e600";
}

.icon-pingjiakongshuju:before {
  content: "\e642";
}

.icon-zuji:before {
  content: "\e601";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon--fangzi:before {
  content: "\e898";
}

.icon-dingdan:before {
  content: "\e719";
}

.icon-diannao:before {
  content: "\e603";
}

.icon-shouji:before {
  content: "\e605";
}

.icon-tushu:before {
  content: "\e613";
}

.icon-meizhuang-kouhong:before {
  content: "\e64f";
}

.icon-kefu:before {
  content: "\e60d";
}

.icon-gouwuche:before {
  content: "\e668";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-clothes:before {
  content: "\e60e";
}

.icon-zhubaoshoushi:before {
  content: "\e64b";
}

.icon-jinkou:before {
  content: "\e614";
}

.icon-gouwuche1:before {
  content: "\eca6";
}

.icon-a-youhuiquankaquan:before {
  content: "\e641";
}

